<!DOCTYPE html>
!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title The Hub News
		= csrf_meta_tags
		= csp_meta_tag
		%script{src: "https://js.stripe.com/v3"}

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= stylesheet_pack_tag    'application'
		= javascript_pack_tag 'application'

	%body
		= render partial: "/layouts/navbar"
		%p= notice
		%p= alert
		= yield
